@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --primary-color: #3A8B02;
  --secondary-color: #013759;
  --background-color: #f5f5f5;
  --text-color: rgba(0, 0, 0, 0.85);
  --input-background-color: #e5e5e5;
  --input-text-color: rgba(0, 0, 0, 0.85);
  --hover-text-color: rgba(255, 255, 255, 0.85);
  --hover-bg-color: var(--secondary-color);
  --active-bg-color: #1f1f1f;
  --active-text-color: var(--hover-text-color);
  --header-footer-color: #e5e5e5;
  --border-radius: 0.5rem;
  --base-font-size: 16px;
  --border-color: #d3d3d3;
  --font-family: "Roboto", sans-serif;

  --error-color: #D32F2F;

  --box-shadow-level-1: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  --box-shadow-level-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --box-shadow: var(--box-shadow-level-2); /* Set main shadow */
  font-size: var(--base-font-size);
  color-scheme: light;
}

.error-message {
  color: var(--error-color);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: left;
}

img {
  image-rendering: pixelated;
}

canvas {
  image-rendering: pixelated;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header,
footer {
  font-family: var(--font-family);
  background-color: var(--header-footer-color);
  padding: 1rem;
  text-align: center;
  box-shadow: var(--box-shadow-level-1);
}

header h1,
footer p {
  margin: 0;
  color: var(--primary-color);
}

main {
  padding: 6rem 2rem 2rem 2rem;
  /* padding-top: 6rem; */
  background-color: var(--background-color);
}

main p {
  margin-bottom: 2rem;
  color: var(--text-color);
}

h3,
h2,
h1 {
  color: var(--primary-color);
}

p, h4, h5, h6 {
  color: var(--text-color);
}

.card {
  background-color: var(--header-footer-color);
  color: var(--text-color);
  padding: 1rem;
  box-shadow: var(--box-shadow-level-1);
  border-radius: var(--border-radius);
}

form, .card {
  margin: auto;
  width: 100%;
  max-width: 1024px;
  font-family: var(--font-family);
}

figure.logo {
  margin: 0.5rem auto;
  padding: 0;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure.logo img {
  width: auto;
  display: flex;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #6AA43E;
    --secondary-color: #2F71B3;
    --background-color: #121212;
    --text-color: rgba(255, 255, 255, 0.85);
    --input-background-color: #020202;
    --input-text-color: rgba(255, 255, 255, 0.85);
    --header-footer-color: #303030;
    --active-bg-color: black;
    --active-text-color: var(--hover-text-color);
    --border-color: #303030;
    --error-color: #CF6679;
    color-scheme: dark;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}

@media (max-width: 600px), (max-width: 900px) {
  main {
    padding: 6rem 0 2rem 0;
  }

  .card {
    padding: 1rem 0;
  }

  figure.logo {
    margin: 0.5rem auto;
    padding: 0;
    height: 50px;
    width: 50px;
  }
}
